


/*MIXINS*/
@mixin padMarg(){
  padding: 0;
  margin: 0;
}
.wrapper{
  display: flex;
  flex-direction: column;

}
/*VARIABLES*/
$font: "Courier New", Courier, monospace;
body{
  padding: 0;
  margin: 0;
  font-family: $font;
}
.nav {
  display: inline-flex;
  width: 100%;
  opacity: 0.7;
  position: fixed;
  z-index: 200;
  .wrapper{
    background-color: #1b1b1c;
    width: 100%;
    display: none;
  }
  .menu-ico{
    margin: 4px 5px 2px 5px;
    cursor: pointer;
  }
  .menu {
    transition: .5s ease;
    @include padMarg();
    font-family: $font;
    display: block;
    li {
      float: left;
      padding: 2px;
      display: block;
      list-style: none;
      margin: 5px 5px 5px 5px;
      transition: 0.2s ease;
      &:hover {
        border-radius: 1px;
        transition: 0.4s ease;
        box-shadow: inset 0 0 0 3px white;
      }
      a {
        display: block;
        color: #f5f5f0;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 24px;
        padding: 3px;
      }
    }
  }
  .sub-menu{
    display: none;
    margin: 0 240px 0 240px;
  }
}
.header {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  background-image: url("../img/logo1.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  .socIcons {
    position: fixed;
    background-color: #1b1b1c;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    margin: 200px 0 200px 0;
    padding: 10px;
    cursor: pointer;
    .soc-ico {
      margin: 7px 0 7px 0;
    }
  }
  .slider-container{
    position: relative;
    z-index: -1;
    .slider-img {
      .mySlides {
        display: none;
      }
    }
  }
  .text{
    z-index: 1000;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: -100px;
    position: relative;
    width: 100%;
    cursor: context-menu;
    p{
      text-transform: uppercase;
      color: white;
      text-align: center;
      font-size: 30px;
      &:nth-child(1){
        margin: 0 60px 0 60px;
      }
    }
  }
}

.line{
  height: 10%;
  width: 100%;
  background-color: rgb(241, 240, 237);
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
  .logoimg{
    width: 70px;
    height: 50px;
  }
}

.start{
  width: 100%;
  background-color: white;
  cursor: context-menu;
  color: black;
  text-transform: uppercase;
  text-align: center;
  .infoContainer{
    opacity: 0.8;
    width: 80%;
    margin: auto;
    display: inline-flex;
    justify-content: center;
    .imageInfo{
      width: 350px;
      height: 250px;
      .imginf{
        width: 330px;
        height: 240px;
      }
    }
      .infoAbout {
        text-transform: uppercase;
        font-size: 18px;
        margin: 55px 0px 55px 0px;
        color: black;
        text-align: center;
    }
  }
}

.about{
  cursor: context-menu;
  width: 100%;
  background-color: white;
  .allMasters{
    opacity: 0.7;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0 10px 0;
  }
  .masters{
    width: 100%;
    color: white;
    text-align: center;
    font-size: 34px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    .mastersList{
      display: flex;
      flex-direction: row;
      .containerImg{
        display: flex;
        flex-direction: column;
        img{
          z-index: 5;
        }
        .textS{
          position: relative;
          top: 85.5%;
          background-color: #262327;
          width: 88.5%;
          margin: 0 20px 0 20px;
          z-index: 100;
          opacity: 0;
        }
        //#text{
        //  opacity: 0;
        //  z-index: 0;
        //}
      }
      img{
        padding: 20px;
        opacity: 0.75;
        transition: .3s ease;
        filter: grayscale(100%);
        &:hover{
          opacity: 1;
          transition: .3s ease;
          filter: grayscale(60%);
        }
      }
    }
  }
}

.prices{
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  color: black;
  text-transform: uppercase;
  cursor: context-menu;
  .uslugi{
    display: flex;
    justify-content: center;
    font-size: 40px;
  }
  .priceContainer{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    .first{
      display: flex;
      flex-direction: column;
      margin: 0 20px 0 20px;
      .prIm{
        display: inline-flex;
        margin: 10px 0 10px 0;
        .names{
          width: 250px;
          display: inline-flex;
          margin: 20px 10px 20px 10px;
          .wrapLine{
            width: 80px;
          }
          .liner:before{
            content: "";
            width: 70px;
            background-color: red;
            height: 1px;
            display: block;
            position: absolute;
            margin: 23px 5px 23px 5px;
          }
          .priceStr{
            width: 70px;
          }
        }
        .face{
          display: block;
          border-radius: 60%;
          width: 90px;
          height: 90px;
        }
      }
    }
  }
}

.style{
  width: 100%;
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  .st_blok{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    .gallery-container{
      max-width: 1000px;
      position: relative;
      margin: auto;
    }
    .bl_text{
      .tx_title{
        margin: 15px;
        font-size: 40px;
      }
      .tx_te{
        font-size: 26px;
      }
    }
  }
}
.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: 22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 10px;
  transition: .6s ease;
  border-radius: 0 3px 3px 0;
}
.prev{
  left: 0.1%;
}
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
  background-color: rgba(0,0,0,0.8);
}
.text-anot{
  color: white;
  cursor: context-menu;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  top: 80%;
  left: 45%;
}
.dot{
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color .6s ease;
}
.active, dot:hover{
  background-color: #717171;
}
.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.work{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  cursor: context-menu;
  .contactUs{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .carer{
      font-size: 36px;
      text-align: center;
    }
    .infoCont{
      display: inline-flex;
      justify-content: center;
      .textCon{
        width: 60%;
      }
      .backfeed{
        margin: 15px;
        width: 25%;
        text-align: center;
        transition: .5s ease;
        box-shadow: inset 0 0 0 1px silver;
        a{
          text-decoration: none;
        }
        &:hover{
          transition: .5s ease;
          box-shadow: inset 0 0 0 5px silver;
        }
      }
    }
  }
}

.vidguk{
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  .vidguk_wrap{
    width: 80%;
    display: inline-flex;
    justify-content: center;
    .vidg_cont{
      margin: 20px;
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      width: 300px;
      img{
        padding: 20px;
        width: 250px;
        height: 300px;
        display: block;
        border-radius: 50%;
      }
    }
  }
}


.arrow{
  display: flex;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  opacity: 0.7;
  cursor: pointer;
  .up{
     width: 50px;
  }
}



@-webkit-keyframes fade {
  from{opacity: .4}
  to{opacity: 1}
}

@keyframes fade {
  from{opacity: .4}
  to{opacity: 1}
}

@-webkit-keyframes bcol {
  0% {background-color: inherit;}
  100% {background-color: #262327;}
}

@keyframes bcol {
  0% {background-color: inherit;}
  100% {background-color: #262327;}
}



.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
